---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyALlvHl3kfY3An4pCZ8xZMGkemtgbOGGso
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 14:37:07 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/b695ec7670205c74368505d77b40f454/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 823ms
      X-Forecast-Api-Calls:
      - '12'
      X-Response-Time:
      - 116.828ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583159827,"summary":"Clear","icon":"clear-day","nearestStormDistance":11,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":28.5,"apparentTemperature":23.88,"dewPoint":25.6,"humidity":0.89,"pressure":1014.6,"windSpeed":4.13,"windGust":8.86,"windBearing":340,"cloudCover":0.28,"uvIndex":0,"visibility":10,"ozone":385.3},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583157600,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":27.21,"apparentTemperature":22.82,"dewPoint":24.78,"humidity":0.9,"pressure":1014.5,"windSpeed":3.77,"windGust":7.62,"windBearing":344,"cloudCover":0.3,"uvIndex":0,"visibility":10,"ozone":388.4},{"time":1583161200,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":29.29,"apparentTemperature":24.68,"dewPoint":26.02,"humidity":0.87,"pressure":1014.5,"windSpeed":4.23,"windGust":9.03,"windBearing":340,"cloudCover":0.27,"uvIndex":0,"visibility":10,"ozone":383},{"time":1583164800,"summary":"Clear","icon":"clear-day","precipIntensity":0.0002,"precipProbability":0.03,"precipType":"snow","precipAccumulation":0.0016,"temperature":30.39,"apparentTemperature":26.82,"dewPoint":25.84,"humidity":0.83,"pressure":1013.8,"windSpeed":3.5,"windGust":5.03,"windBearing":9,"cloudCover":0.27,"uvIndex":1,"visibility":10,"ozone":375.2},{"time":1583168400,"summary":"Clear","icon":"clear-day","precipIntensity":0.0002,"precipProbability":0.05,"precipType":"snow","precipAccumulation":0.0016,"temperature":31.76,"apparentTemperature":31.76,"dewPoint":27.97,"humidity":0.86,"pressure":1012.4,"windSpeed":2.25,"windGust":4.35[...]
[...]
