---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyA8d_zd0n9j1R3Fq1P1PZIm-9gVU4SysRA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 16:12:13 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/b695ec7670205c74368505d77b40f454/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 385ms
      X-Forecast-Api-Calls:
      - '14'
      X-Response-Time:
      - 85.714ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583165533,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":30.93,"apparentTemperature":30.93,"dewPoint":26.42,"humidity":0.83,"pressure":1012.3,"windSpeed":2.6,"windGust":5.7,"windBearing":70,"cloudCover":0.2,"uvIndex":2,"visibility":10,"ozone":373.3},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583164800,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":30.34,"apparentTemperature":30.34,"dewPoint":26.11,"humidity":0.84,"pressure":1012.5,"windSpeed":2.65,"windGust":5.71,"windBearing":67,"cloudCover":0.21,"uvIndex":1,"visibility":9.892,"ozone":375.2},{"time":1583168400,"summary":"Clear","icon":"clear-day","precipIntensity":0.0018,"precipProbability":0.07,"precipType":"snow","precipAccumulation":0.0105,"temperature":33.65,"apparentTemperature":33.65,"dewPoint":27.56,"humidity":0.78,"pressure":1011.3,"windSpeed":2.14,"windGust":5.27,"windBearing":71,"cloudCover":0.13,"uvIndex":3,"visibility":10,"ozone":365.6},{"time":1583172000,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":37.35,"apparentTemperature":37.35,"dewPoint":27.54,"humidity":0.67,"pressure":1010.2,"windSpeed":2.26,"windGust":4.24,"windBearing":45,"cloudCover":0.06,"uvIndex":4,"visib[...]
[...]
