---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyALlvHl3kfY3An4pCZ8xZMGkemtgbOGGso
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 08:54:49 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/b695ec7670205c74368505d77b40f454/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 117ms
      X-Forecast-Api-Calls:
      - '10'
      X-Response-Time:
      - 64.098ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583139290,"summary":"Flurries","icon":"snow","nearestStormDistance":0,"precipIntensity":0.006,"precipIntensityError":0.003,"precipProbability":0.69,"precipType":"snow","precipAccumulation":0.0702,"temperature":27.8,"apparentTemperature":27.8,"dewPoint":25.76,"humidity":0.92,"pressure":1019.3,"windSpeed":1.4,"windGust":3.39,"windBearing":43,"cloudCover":0.76,"uvIndex":0,"visibility":8.77,"ozone":376.8},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583136000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0014,"precipProbability":0.02,"precipType":"snow","precipAccumulation":0.0144,"temperature":28.13,"apparentTemperature":28.13,"dewPoint":25.92,"humidity":0.91,"pressure":1019.6,"windSpeed":1.07,"windGust":3.14,"windBearing":75,"cloudCover":0.79,"uvIndex":0,"visibility":7.884,"ozone":377},{"time":1583139600,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0028,"[...]
[...]
