---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyALlvHl3kfY3An4pCZ8xZMGkemtgbOGGso
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 08:13:45 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/b695ec7670205c74368505d77b40f454/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 334ms
      X-Forecast-Api-Calls:
      - '8'
      X-Response-Time:
      - 64.436ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583136826,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":27.33,"apparentTemperature":27.33,"dewPoint":24.77,"humidity":0.9,"pressure":1019.8,"windSpeed":1.38,"windGust":3.84,"windBearing":129,"cloudCover":0.82,"uvIndex":0,"visibility":7.782,"ozone":376.8},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583136000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0048,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.049,"temperature":27.49,"apparentTemperature":27.49,"dewPoint":24.91,"humidity":0.9,"pressure":1019.8,"windSpeed":1.42,"windGust":3.88,"windBearing":129,"cloudCover":0.83,"uvIndex":0,"visibility":7.814,"ozone":377},{"time":1583139600,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0085,"precipProbability":0.07,"precipType":"snow","precipAccumulation":0.0882,"temperature":26.9,"apparentTemperature":26.9,"dewPoint":24.3,"humidity":0.9,"pressure":1019.5,"windSpe[...]
[...]
