---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyALlvHl3kfY3An4pCZ8xZMGkemtgbOGGso
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 05:49:04 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/b695ec7670205c74368505d77b40f454/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 456ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 113.308ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583128144,"summary":"Overcast","icon":"cloudy","nearestStormDistance":5,"nearestStormBearing":9,"precipIntensity":0,"precipProbability":0,"temperature":26.79,"apparentTemperature":26.28,"dewPoint":24.83,"humidity":0.92,"pressure":1020.3,"windSpeed":2.2,"windGust":3.61,"windBearing":27,"cloudCover":0.91,"uvIndex":0,"visibility":3.503,"ozone":378.8},"hourly":{"summary":"Foggy
        tonight.","icon":"fog","data":[{"time":1583125200,"summary":"Foggy","icon":"fog","precipIntensity":0.0237,"precipProbability":0.14,"precipType":"snow","precipAccumulation":0.2396,"temperature":28.37,"apparentTemperature":24.28,"dewPoint":26.57,"humidity":0.93,"pressure":1020.1,"windSpeed":3.68,"windGust":7.02,"windBearing":11,"cloudCover":0.78,"uvIndex":0,"visibility":1.39,"ozone":377.8},{"time":1583128800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0208,"precipProbability":0.14,"precipType":"snow","precipAccumulation":0.226,"temperature":26.5,"apparentTemperature":26.5,"dewPoint":24.48,"humidity":0.92,"pressure":1020.3,"windSpeed":1.99,"windGust":3.1[...]
